@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root{
    --op: 0;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: black;
    color: white;  
}

.logo{
    width: 42px;
    height: 40px;
}

.left{
    width: 25vw;
    padding: 10px;
}

.right{
    width: 75vw;
    margin: 16px 0;
    position: relative;
}

.home{
    padding: 10px;
}

.home ul li{
    display: flex;
    gap: 15px;
    width: 15px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.library{
    min-height: 80vh;
    position: relative;
}

.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 23px 14px;
    align-items: center;
    padding-top: 14px;
    font-weight: bold;
    font-size: 13px;
}

.heading img{
    width: 30px;
}

.footer{
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
}

.footer a{
    color: gray;
    padding:  10px 0;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #343434;
    height: 68px;
}

.header > *{
    padding: 20px;
}

.spotify_playlists{
    padding: 16px;
}

.spotify_playlists h1{
    padding: 16px;
}

.cardcontainer{
    display: flex;
    margin: 30px;
    gap: 55px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 60vh;
}

/* scroll bar for website */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555; /* Dark color for the scrollbar handle */
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #777;
  }
  
  /* Track on hover */
  ::-webkit-scrollbar-track:hover {
    background: #333;
  }
  
  /* Handle when dragging */
  ::-webkit-scrollbar-thumb:active {
    background-color: #999;
  }


.card{
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all 0.9s;
}

.card:hover{
    background-color: rgb(106, 106, 106);
    cursor: pointer;
    --op: 1;
}

.card > *{
    padding-top: 10px;
}

.card img{
    object-fit: contain;
    width: 100%;
}

.play{
    width: 28px;
    height: 28px;
    background-color: #6be16b;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 243px;
    right: 13px;
    opacity: var(--op);
    transition: all 1s ease-out;
}

.buttons > *{
    margin: 0 12px;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.signupBtn{
    background-color: #343434;
    color: rgb(153 144 144);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupBtn:hover{
    font-size: 18px;
    color: white;
}

.loginBtn{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 3px;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.loginBtn:hover{
    font-size: 18px;
    color: white;
    background-color: #343434;
}

.playbar{
    position: fixed;
    bottom: 30px;
    width: 90%;
    background-color: white;
    padding: 12px;
    border-radius: 20px;
    width: 70vw;
    min-height: 40px;
}

.songBtn{
    display: flex;
    justify-content: center;
    gap: 16px;
    cursor: pointer;
}

.songList{
    height: 544px;
    overflow: auto;
    margin-bottom: 44px;
}

.hamburger{
    display: none;
}

.close{
    display: none;
}

.hamburgercontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.songList ul{
    padding: 0 12px;
}

.songList ul li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}

.songList .info{
    font-size: 13px;
    width: 344px;
}

.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span{
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

.seekbar{
    height: 4px;
    width: 97%;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    background-color: black;
    margin: 6px;
    cursor: pointer;
}

.circle{
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: #00FF00;
    position: relative;
    bottom: 6px;
    left: 0;
    transition: 0.5s;
}

.timevol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.songinfo{
    padding: 0 12px;
    color: black;
    width: 250px;
}

.songtime{
    width: 125px;
    padding: 0 12px;
    color: black;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}
.range input{
    cursor: pointer;
} 

.seekcontainer{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

@media (max-width: 1200px) {
    .left {
        position: absolute;
        left: -130%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        background-color: black;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
    }

    .left .close {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }

    .timevol {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        width: calc(100vw - 75px); 
    }

    .seekbar {
        width: calc(100vw - 120px);
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .right {
        margin: 0;
    }

    .card {
        width: 55vw;
    }

    .cardContainer {
        margin: 0;
        justify-content: center; 
    }

    .close {
        display: block;
        cursor: pointer;
    }

    .seekcontainer{
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

    .cardContainer {
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 35vh;
    }

    .playbar{
        right: 25px;
    }
}

@media (max-width: 500px) {
    .card {
        width: 100%;
    }

    .header>* {
        padding: 2px;
    }

    .buttons>* {
        margin: 0 6px;
    }

    .header{
        padding: 7px;
    }

    .spotifyPlaylists h1 {
        padding: 4px;
    }

    .library{
        height: 85vh;
    }

    .left{ 
        width: 100vw;
    }
}