.border{
    border: 2px solid back;
}

.flex{
    display: flex;
}

.justify_center{
    justify-content: center;
}

.item_center{
    align-items: center;
} 

.bg_black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg_gray{
    background-color: #121212;   
}

.rounded{
    border-radius: 7px;
}

.m_1{
    margin: 5px;
}

.p_1{
    padding: 10px;
}

